<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Automated Recommendation System</title>
</head>
<body>
   <div class="page_1">
    <div class="container">
    <h1>Auto Machine Learning</h1>
    <blockquote>Automate your data anlysis and get recomended</blockquote>
    <blockquote> with the training algorythms that suit your data...</blockquote><br><br>
    <div class="images">
        <div class="img_border">
            <div class="img-h"><img src="static/upload final svg.svg" alt=""><h3>Upload<br>data</h3></div></div>
        <div class="img_border"><div class="img-h"><img src="static/graphs final svg.svg" alt=""><h3>Get<br>Insights</h3></div></div>
        <div class="img_border"><div class="img-h"><img src="static/model final svg.svg" alt=""><h3>Get<br>Model</h3></div></div>
    </div><br><br><br><br><br>
    <div class="butt">
        <button id="btn1"><span>Upload data</span></button>
        <button id="btn2">Upload data</button>
    </div>
   </div>
</div>
   <div class="page_2">
   </div>
   <div class="page_3"></div>
    <script src="app.js"></script>
</body>
</html>
